a(href="#link3")
    i.fa.fa-user-secret
    |  Link3 
    i.fa.fa-caret-down.x_mobile_toggle_inv
a(href="#").x_mobile_toggle
    i.fa.fa-chevron-right
.xdojonav_underhover_xl
    ul.wide_under
        li.ext_link
            a(href="#sublinkwide") 
                h4 Testo
                img(src=exampleImgSrc, alt="Alien Image")
                p #{txtVar50}
    ul
        li
            a(href="#sublink1")
                h4 Testo
                p #{txtVarS}
        li
            a(href="#sublink2")
                h4 Testo
                p #{txtVarS}
    ul
        li.ext_link
            a(href="#sublink1")
                h4 Testo
                p #{txtVarS}
        li
            a(href="#sublink2")
                h4 Testo
                p #{txtVarS}
    ul
        li.ext_link
            a(href="#sublink1")
                h4 Testo
                p #{txtVarS}
        li
            a(href="#sublink2")
                h4 Testo
                p #{txtVarS}
    .underhover_bottom
        a(href="#bottomlink") ... just a fast link 
            i.fa.fa-angle-double-right 