a(href="#link1")
    i.fa.fa-home
    |  Link1 
    i.fa.fa-caret-down.x_mobile_toggle_inv
a(href="#").x_mobile_toggle
    i.fa.fa-chevron-right
.xen_sub
    ul.xen_wide_row
        li.xen_ext_link
            a(href="#sublinkwide")
                h4 Testo
                img(src=exampleImgSrc2, alt="DB Image", style="max-width:40px")
                p #{txtVar}
    ul
        li
            a(href="#sublink1")
                h4 Testo
                p #{txtVarS}
        li
            a(href="#sublink2")
                h4 Testo
                p #{txtVarS}
    ul
        li
            a(href="#sublink1")
                h4 Testo
                p #{txtVarS}
        li
            a(href="#sublink2")
                h4 Testo
                p #{txtVarS}
    .xen_sub_footer
        a(href="#bottomlink") ... just a fast link 
            i.fa.fa-angle-double-right