a(href="#link3")
    i.fa.fa-user-secret
    |  Link3 
    i.xen_dropdown
a(href="#").xen_mobile_toggle
    i.xen_dropright
.xen_sub_xl
    ul.xen_wide
        li.xen_ext_link
            a(href="#sublinkwide") 
                h4 Testo
                img(src=exampleImgSrc, alt="Alien Image")
                p #{txtVar50}
    ul
        li
            a(href="#sublink1")
                h4 Testo
                p #{txtVarS}
        li
            a(href="#sublink2")
                h4 Testo
                p #{txtVarS}
    ul
        li.xen_ext_link
            a(href="#sublink1")
                h4 Testo
                p #{txtVarS}
        li
            a(href="#sublink2")
                h4 Testo
                p #{txtVarS}
    ul
        li.xen_ext_link
            a(href="#sublink1")
                h4 Testo
                p #{txtVarS}
        li
            a(href="#sublink2")
                h4 Testo
                p #{txtVarS}
    .xen_sub_footer
        a(href="#bottomlink") ... just a fast link 
            i.xen_sub_foot_icon