//- Vars for demo
- var txtVarS = "Lorem ipsum dolor sit, amet consectetur "
- var txtVar = "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit quis cumque eos voluptatibus"
- var txtVar50 = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, animi excepturi nemo laboriosam, maxime tempore commodi cupiditate debitis vel, sint quas"
// xDojo Navbar START

#xdojonav.xdojonav.xdojonav_prosilver
	a#xhamburger.xhamburger(href="#hamburger")
		i.fa.fa-bars.fa-fw
		|  Menu
	ul
		li
			a(href="#link1")
				i.fa.fa-home
				|  Link1 
				i.fa.fa-caret-down
			.xdojonav_underhover
				ul.wide_under
					li
						a(href="#sublinkwide")
							h4 Testo
							p #{txtVar}
				ul
					li
						a(href="#sublink1")
							h4 Testo
							p #{txtVarS}
					li
						a(href="#sublink2")
							h4 Testo
							p #{txtVarS}
				ul
					li
						a(href="#sublink1")
							h4 Testo
							p #{txtVarS}
					li
						a(href="#sublink2")
							h4 Testo
							p #{txtVarS}
				.underhover_bottom
					a(href="#bottomlink") ... just a fast link 
						i.fa.fa-angle-double-right 
		li
			a(href="#link2")
				i.fa.fa-gear
				|  Link2
		li
			a(href="#link3")
				i.fa.fa-user-secret
				|  Link3 
				i.fa.fa-caret-down
			.xdojonav_underhover_xl
				ul.wide_under
					li
						a(href="#sublinkwide") 
							h4 Testo
							p #{txtVar50}
				ul
					li
						a(href="#sublink1")
							h4 Testo
							p #{txtVarS}
					li
						a(href="#sublink2")
							h4 Testo
							p #{txtVarS}
				ul
					li
						a(href="#sublink1")
							h4 Testo
							p #{txtVarS}
					li
						a(href="#sublink2")
							h4 Testo
							p #{txtVarS}
				ul
					li
						a(href="#sublink1")
							h4 Testo
							p #{txtVarS}
					li
						a(href="#sublink2")
							h4 Testo
							p #{txtVarS}
				.underhover_bottom
					a(href="#bottomlink") ... just a fast link 
						i.fa.fa-angle-double-right 

		li
			a(href="#link4")
				i.fa.fa-superpowers
				|  Link4
		
	ul.xdojonav_finder
		li.xsearch {% INCLUDE 'search_form.html' %}

// xDojo Navbar END